@model Category
@{
    Layout = "_StaffManagementLayout";
    ViewData["Title"] = "Create";
}
<h2>Create New Category</h2>

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label for="Name">Name</label>
        <input type="text" class="form-control" asp-for="Name" />
    </div>
    <div class="form-group">
        <label asp-for="ParentCategoryId" class="control-label"></label>
        <select asp-for="ParentCategoryId" class="form-control" asp-items="ViewBag.CategoryId">
            <option value=0>No Parent</option>
        </select>
        <span asp-validation-for="ParentCategoryId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>
<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
