@model IEnumerable<PharmacuticalE_Commerce.Models.Shift>

@{
    ViewBag.PageTitle = "Shifts";
    ViewBag.CardTitle = "Shifts List";
    ViewData["Title"] = "Shifts";
    Layout = "~/Views/Shared/_StaffManagementLayout.cshtml";
}

<table class="table" id="ShiftsList">
    <thead>
        <tr>
            <th>
                From
            </th>
            <th>
                To
            </th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FromTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToTime)
            </td>
            <td>
                    <a asp-action="ShiftEdit" asp-route-id="@item.ShiftId" class="btn btn-warning">Edit</a>
            </td>
        </tr>
}
    </tbody>
</table>
<a asp-action="Index" class="btn btn-secondary">Back to List</a>