@model PharmacuticalE_Commerce.Models.Order

@{
    ViewBag.PageTitle = "Orders";
    ViewBag.CardTitle = "Delete Order";
    Layout = "~/Views/Shared/_StaffManagementLayout.cshtml";
}

<h3>Are you sure you want to delete this order?</h3>

<div>
    <h4>Order ID: @Model.OrderId</h4>
    <h4>Total Amount: @Model.TotalAmount</h4>
    <h4>Shipping Address: @Model.ShippingAddressId</h4>
</div>

<form asp-action="Delete">
    <input type="hidden" asp-for="OrderId" />
    <input type="submit" value="Delete" class="btn btn-danger" /> |
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
