@model IEnumerable<PharmacuticalE_Commerce.Models.Product>
@{
	Layout = null;
}
<div class="container">
	<div class="row">
		<div class="title text-center">
			<h2>Related Products</h2>
		</div>
	</div>
	<div class="row">
		@foreach (var item in Model)
		{
			<div class="col-md-3">
				<div class="product-item">
					<div class="product-thumb">
						<img style="width:250px; height:300px; object-fit:cover" src="@Url.Content("~/images/products/" + item.Photo)" alt="@item.Name" />
						<div class="preview-meta">
							<ul>

								<li>
									<a asp-action="CardDetails" asp-route-id="@item.ProductId"><i class="tf-ion-ios-search-strong"></i></a>
								</li>
							</ul>
						</div>
					</div>
					<div class="product-content">
						<h4><a href="product-single.html">@item.Name</a></h4>
						<p class="price">$@item.Price</p>
					</div>
				</div>
			</div>
		}
	</div>
</div>