@model IEnumerable<PharmacuticalE_Commerce.Models.Branch>

@{
    ViewBag.PageTitle = "Branches";
    ViewBag.Cardtitle = "Branches List";
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_StaffManagementLayout.cshtml";
}

<p>
    <a class="btn btn-primary" asp-action="Create">Add New Branch</a>
</p>
<table class="table" id="BranchesList">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.BranchId">Edit</a> &nbsp;&nbsp;&nbsp;
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.BranchId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
