@{
    ViewData["Title"] = "Payment Canceled";
    Layout = "~/Views/Shared/_EcommerceLayout.cshtml";
}
<h2>Payment Canceled</h2>
<p>Your payment has been canceled. Please try again or contact support if you need assistance.</p>