@{
    ViewData["Title"] = "Payment Successful";
    Layout = "~/Views/Shared/_EcommerceLayout.cshtml";

}
<h2>Payment Successful</h2>
<p>Thank you for your purchase! Your payment has been successfully processed.</p>