
@{
    ViewData["Title"] = "Cancel";
    Layout = "~/Views/Shared/_EcommerceLayout.cshtml";
}

<h1>Payment Canceled</h1>
<p>Your payment has been canceled. Please try again or contact support if you need assistance.</p>
